
div {
  text-align: center;
}
.container {
    display: inline-block;
    border: 4px solid red;
    margin: 5px;
    width: auto;
    height: auto;
}

img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 50px;
}

.heading {
    margin-bottom: 10px;
    font-weight: bold;
}
