body {
    margin: auto 20%;
}

.title {
    text-align: center;
    text-shadow: red 1px 1px;
}

/* TODO */

span.todo {
    font-size: 80%;
}

span.done {
    font-size: 80%;
}

span.todo.TODO {
    padding: 5px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

span.done.DONE {
    padding: 5px;
    border-radius: 10px;
    background-color: green;
    color: white;
}

/* Postamble */
#postamble {
    /*background-color: #f3b1b1;*/
    margin-top: 20px;
    padding: 5px;
    font-size: 80%;
    color: green;
    text-align: center;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }
